---
BasedOnStyle: Microsoft
FixNamespaceComments: 'false'
NamespaceIndentation: All
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
IndentAccessModifiers: false
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman

...
