[submodule "WorldsEngine/tracy"]
	path = WorldsEngine/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "WorldsEngine/recastnavigation"]
	path = subprojects/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "recastnavigation"]
	url = https://github.com/someonesomewheredev/recastnavigation.git
[submodule "R2"]
	path = Source/R2
	url = https://github.com/someonesomewheredev/R2
